.card{
    width:0px;
    height:330px;
    background-color:white;
    padding-top:10px;
}

.booking-body{
    /* background-image:url(../../fakeData/Rectangle\ 1.png); */
    /* height: 700px; */
    background-image:    url(../../fakeData/Rectangle\ 1.png);
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
    /* padding: 20px;  */
}