.container-body{
    border-top: 1px solid lightgrey;
}
/* .map-area{
    border:1px solid lightgrey;
    border-radius:5px;
    height:200px;
} */
/* .main-map{
    height:100%;
    width: 100%;      
}  */